.spedizione{
    width: auto;
    height: fit-content;
    background-color: #f2a1b1;
    text-align: center;
    margin: 0cm;
    font-size: 15px;
}
.allinea {margin-left: 60px; display: inline-block; font-size: 30px;}

.buttoncta{
    background:    #f2a1b1;
border-radius: 11px;
width:         800px;
height:        50px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 26px/50px "Open Sans", sans-serif;
text-align:    center;
}

.buttoncta2{
    background:    #f2a1b1;
border-radius: 11px;
width:         800px;
height:        50px;
color:         #ffffff;
display:       inline-block;
font:          normal normal 20px/50px "Open Sans", sans-serif;
text-align:    center;
}